{% extends 'base.html' %}

{% block js %}
  <script type="text/jsx" src="/static/js/react-script.js"></script>
{% endblock %}

{% block content %}
  <div id="root" class="top-padding">
  </div>
{% endblock %}

