{% extends 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/test-script.js"></script>
  <script type="text/jsx" src="/static/js/test-script.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/test.css">
{% endblock %}

{% block content %}
	<div id="errors"></div>
	<div id="root" class="col-md-12 top-padding"></div>
{% endblock %}